aiofiles==24.1.0
aiogram==3.13.1
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
certifi
frozenlist
idna
magic-filter
multidict
propcache
pydantic
pydantic_core
python-dotenv
pytubefix
typing-inspection
typing_extensions
yarl
